body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header img {
    height: 45px;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ffcc00;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ffcc00;
    color: #000;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #cc0000;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.imagem-principal {
    display: block;
    width: 250px;
    margin: 20px auto;
    border: 5px solid #000;
}

.imagem-conteudo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border: 2px solid #333;
}

ul, ol {
    line-height: 1.6;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}